<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAlbRdFVqkX-1o2_tFQer8iMOyc4zw8_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>396627838547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.happymeters.opsapp</string>
	<key>PROJECT_ID</key>
	<string>happymeter-ea26f</string>
	<key>STORAGE_BUCKET</key>
	<string>happymeter-ea26f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396627838547:ios:22feadce89236542d9a8a6</string>
</dict>
</plist>